<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{> header }}
        <img class="portrait" src="/img/me.jpg">
        <p>I am fresher who knows web-development.</p>
        <p>I have nearly 2 years of IT industry experience.</p>
        {{>footer}}
    </div>
</body>
</html>